# Ignora la cartella delle impostazioni di VS Code in tutte le sottodirectory
**/.vscode/

# Ignora i file delle impostazioni degli utenti di VS Code in tutte le sottodirectory
**/*.code-workspace

# Ignora i file .DS_Store in tutte le sottodirectory
**/.DS_Store
